<h5>NOVO CLIENTE</h5><br>

<form action="?pagina=cliente&metodo=inserir" method="post">
    <label for="cpf">CPF</label><br>
    <input type="text" name="cpf" placeholder="CPF"><br><br>

    <label for="nome">NOME</label><br>
    <input type="text" name="nome" placeholder="NOME"><br><br>

    <label for="datanasc">DATA NASCIMENTO</label><br>
    <input type="text" name="datanasc" placeholder="DATA NASCIMENTO"><br><br>
    
    <label for="sexo">SEXO</label><br>
    <input type="text" name="sexo" placeholder="SEXO"><br><br>

    <button type="submit" class="btn btn-success">+ CADASTRAR</button>
</form>