<h5>NOVO VEICULO</h5><br>

<form action="?pagina=veiculo&metodo=inserir" method="post">
    <label for="placa">PLACA</label><br>
    <input type="text" name="placa" placeholder="PLACA"><br><br>

    <label for="marca">MARCA</label><br>
    <input type="text" name="marca" placeholder="MARCA"><br><br>

    <label for="modelo">MODELO</label><br>
    <input type="text" name="modelo" placeholder="MODELO"><br><br>

    <label for="cor">COR</label><br>
    <input type="text" name="cor" placeholder="COR"><br><br>

    <label for="ano">ANO</label><br>
    <input type="text" name="ano" placeholder="ANO"><br><br>

    <button type="submit" class="btn btn-success">+ CADASTRAR</button>
</form>